<ion-content>
  <div style="margin-top: 50px">
    <ion-row>
      <ion-col>
        <ion-list style="margin-right: 20px; margin-left: 20px">
          <ion-item class="campo" >
            <ion-input [(ngModel)]="user.email" (keyup)="verEmailVazio()" (ionBlur)="validaEmail(user)" placeholder="E-mail" type="text"></ion-input>
          </ion-item>
          <p text-center *ngIf="emailVazio" style="color: red; font-size: 0.9em;">Digite o seu email</p>
          <p text-center *ngIf="emailInvalido" style="color: red; font-size: 0.9em;">Email inválido</p>
          <br>  
          <ion-item class="campo" >
            <ion-input [(ngModel)]="user.senha" (keyup)="verSenhaVazio()" placeholder="Senha" type="password"></ion-input>
          </ion-item>
          <p text-center *ngIf="senhaVazio" style="color: #ff0000; font-size: 0.9em;">Digite a senha</p>
          <p text-center *ngIf="seisDigitos" style="color: #ff0000; font-size: 0.9em;">Mínimo 6 caracteres</p>         
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-left: 20px; margin-right: 20px">
        <button ion-button class="login-button" color="secondary" (tap)="logar(user)">Entrar</button>
      </ion-col>
    </ion-row>

    <!--<ion-row>
      <ion-col style="margin-left: 20px; margin-right: 20px">
        <button ion-button  outline round class="login-button" color="secondary" (tap)="registrar()">Registrar</button>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col style="margin-left: 20px; margin-right: 20px">
        <button ion-button clear class="login-button" color="primary" (tap)="queroSerTembiu()">Quero Ser Tembiu!</button>
      </ion-col>
    </ion-row>   
  </div>
</ion-content>
