page-carrinho {

    #icone {
        font-size: 15px;
        align-self: flex-start;
        margin-top: 14px;
      }  
      
    .medida {
        font-weight: normal; 
        font-size: 12px; 
        position: absolute;
        top: 75%;
        left: 6%;
    }

}
